extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Hola a todos esta es mi primera pagina
    div.Message
      div.Title
        h3 ESta hecha de una manera muy sencilla para desplegar un mensaje entendible
        h1 Comida para desarrolladores
      span.Details El acceso de momento es temporal pero esperen nuevas mejoras
    div.NavButtons
      a(href="/user")
        div.NavButton ¡Vamos por ello!