extends layout

block layout-content
    div.View.UserView
        h1.Banner Hola, #{userProfile.nickname}!
        div.Message
            div.Title
                h3 Haz echo lo mejor
                h1 Equipo mio
            pre.Details=JSON.stringify(userProfile, null, 2)
        div.NavButtons
            a(href="/logout")
                div.NavButton Salida